/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
    font-family: 'Cardo', serif;
}

h2 {
    color: #efefef;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}


p {
    font-family: 'Carrois Gothic SC', sans-serif;
}


/**************************************************/
/* // menu */
/**************************************************/


.liste_menu {
    display: none;
}

#menuToggle {
    display: block;
    position: relative;
    top: 20px;
    left: 20px;
    width: 50px;

    z-index: 1;

    /*
    -webkit-user-select: none;
    user-select: none;
*/
}

#menuToggle a {
    text-decoration: none;
    color: #3b3b3b;


    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #9b9b9b;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -2px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    /*    -webkit-touch-callout: none;*/
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: rgba(253, 253, 253, 0.65);
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of eq1the screen
 */
#menu {
    position: absolute;
    width: 110vw;
    height: 110vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: rgba(255, 255, 255, 0.4);
    list-style-type: none;
    /*    -webkit-font-smoothing: antialiased;*/
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-weight: bold;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}


/**************************************************/
/* // menu slut*/
/**************************************************/


.bund_overskrift {
    position: absolute;
    top: 271px;
    left: 150px;
    font-size: 30px;
    line-height: 90px;
    letter-spacing: 5px;
    text-align: center;
    color: #989898;
}


#top {
    padding: 30px 0px 30px 0px;
    background-size: cover;
    height: 740px;
    text-align: end;
}

#top h5 {
    z-index: 4;
    position: absolute;
    font-size: 20px;
    top: -35px;
    left: 340px;
    color: rgba(255, 255, 255, 0.71);
}

.linje1 {
    border-left: 2px solid rgba(242, 242, 242, 0.65);
    height: 250px;
    position: absolute;
    top: 69.5%;
    left: 50%;
}

#omMig {
    height: 750px;
}

.top_overskrift h1 {
    font-size: 95px;
    line-height: 140px;
}

.top_overskrift {
    position: absolute;
    top: 190px;
    left: 0px;
    color: white;
    text-align: center;
}



/****       ****/


.cvbillede {
    width: 100%;
    padding: 0px 40px 0px 40px;
}


/****       ****/


#mineOpgaver {
    padding: 10px 30px 10px 30px;
}

#mineOpgaver img {
    width: 100%;
    height: 100%;
}

#mineOpgaver p {
    padding-bottom: 90px;
}

/*
#mineOpgaver h2 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ffcf76;
    font-size: 60px;
}
*/

.hover {
    transition: 2s ease-out;
    transition: 2s ease-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}


.hover figure img {
    filter: grayscale(100%);
    filter: grayscale(100%);
    filter: blur(100%);
    filter: opacity(50%);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.hover figure:hover img {
    filter: grayscale(0);
    filter: grayscale(0);

}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: 100px;
    left: 150px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    border: solid 1px white;
    border-radius: 0%;
    padding: 10px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 360px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 205%;
    left: 0%;
    margin-left: -150px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/**************************************************/
/* // timeline */
/**************************************************/




.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
    margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
    padding-right: 90px;
}

.timeline > li.timeline-inverted {
    padding-left: 90px;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}



/**************************************************/
/* // timeline slut */
/**************************************************/





/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {
    body {}
}

/* END "sm-" 576px and up */


/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {

    #omMig {
        height: 750px;
        padding-left: 100px;
    }

    .top_overskrift h1 {
        font-size: 95px;
        line-height: 140px;
    }

    .top_overskrift {
        position: absolute;
        top: 190px;
        left: 0px;
        color: white;
        text-align: center;
    }
}

/* END "md-" 768px and up */


/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {

    #omMig {
        height: 750px;
        padding-left: 220px;
    }

    .top_overskrift h1 {
        font-size: 95px;
        line-height: 140px;
    }

    .top_overskrift {
        position: absolute;
        top: 190px;
        left: 0px;
        color: white;
        text-align: center;
    }
}

/* END "lg-" 992px and up */


/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {

    #omMig {
        height: 750px;
        padding-left: 310px;
    }

    .top_overskrift h1 {
        font-size: 95px;
        line-height: 140px;
    }

    .top_overskrift {
        position: absolute;
        top: 190px;
        left: 0px;
        color: white;
        text-align: center;
    }


    #top {
        padding: 30px 0px 30px 0px;
        background-size: cover;
        height: 740px;
        text-align: end;
    }

    #top h5 {
        z-index: 4;
        position: absolute;
        top: -35px;
        left: 87%;
        color: rgba(255, 255, 255, 0.71);
        font-size: 20px;
    }


    /* END "xl-" 1200px and up */
}
